.container {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 5.25rem 0 1.5rem;
}

.container header img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 1.9rem;
  margin-left: .4375rem;
}

.container header div {
  display: flex;
  align-items: center;
}

.container input {
  width: 50%;
  padding: 1.5rem;

  background: #E6E6E6;
  border-radius: .31rem;
  border: none;

  font-size: 1rem;
}

.container button {
  width: 50%;
  padding: 1.5rem;
  font-weight: 700;

  background: #EA4C89;
  color: #FFFFFF;

  border-radius: .31rem;
  margin: .75rem 0 5.25rem;
  border: none;

  cursor: pointer;
  transition: filter .2s;

  font-size: 1rem;
}

.container button:hover {
  filter: brightness(0.9);
}

.popover{
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh;

}

.popover div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 800px;
  height: 800px;
  border-radius: .31rem;

  background: #C4C4CC;
}

.disabled {
  display: none;
}